<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KTU ligonine</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|PT+Serif:700" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/index/style.css') }}" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
                                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                    <title>KTU ligonine</title>
                                    <defs>
										<div id="header">
										<img src="{{ url_for('static', filename='logo.png') }}/" alt="">
										</div>
                                    </defs>
                                    <path d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16zm0-10a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" fill="url(#logo-gradient)" fill-rule="evenodd"/>
                                </svg>
                            </a>
                        </h1>
                    </div>
                    <ul class="header-links list-reset m-0">
						<li><a href="{{ url_for('home') }}">Pradinis</a></li>
						<li><a href="{{ url_for('info') }}">Informacija</a></li>
						<li><a href="{{ url_for('contacts') }}">Kontaktai</a></li>
					</ul>
					<ul class="header-links list-reset m-0">
						<li><a>&emsp;</li>
                        <li>
                            <a class="button button-sm button-shadow" href="{{ url_for('login') }}">Prisijungti</a>
                        </li>
                        <li>
                            <a href="{{ url_for('register') }}"> Registruotis</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <main>
            <section class="hero text-light text-center">
                <div class="container-sm">
                    <div class="hero-inner">
                        <h1 class="hero-title h2-mobile mt-0 is-revealing" style="font-family: sans-serif;">KTU ligoninės svetainės pagrindinis puslapis</h1>
						<p class="hero-paragraph is-revealing" style="font-family: sans-serif;">Išsamus simptomų ir gydymo vadovas, įskaitant tai, ką daryti ir kada kreiptis pagalbos.</p>
                        <div class="hero-media">
							<div class="slide-container">
							<span id="slider-image-1"></span>
							<span id="slider-image-2"></span>
							<span id="slider-image-3"></span>
                            
                                <div class="image-container">
                                    <img src="{{ url_for('static', filename='images/index/1140-hospital-room.jpg') }}/" class="slider-image" >
                                    <img src="{{ url_for('static', filename='images/index/1140x655-coronavirus.jpg') }}/" class="slider-image" >
                                    <img src="{{ url_for('static', filename='images/index/1140x655-nursing.jpg') }}/" class="slider-image" >
                                </div>
							<div class="button-container" >
							<a href="#slider-image-1" class="slider-button"></a>
							<a href="#slider-image-2" class="slider-button"></a>
							<a href="#slider-image-3" class="slider-button"></a>
							</div>
						    </div>
						</div>
				    </div>
				</div>
            </section>
            
            <hr>
            <section class="clients section">
                <div class="container">
                    <div class="clients-inner section-inner">
                        <div class="container-sm">
                            <ul class="list-reset mb-0">
                                <li>
                                    <img src="{{ url_for('static', filename='images/index/bolt.png') }}/" width="132" height="40">
                                </li>
                                <li>
                                    <img src="{{ url_for('static', filename='images/index/valdzia.jpg') }}/" width="132" height="40">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <hr>

            <p class="section-header">MEDICINOS AKTUALIJOS</p>

            <section class="cards section center" style="width: 80%;">
                
                <div class="row">
                    <div class="column">
                        <div class="card">
                            <img class="circular--square center" src="{{ url_for('static', filename='images/index/file2.jpg') }}" alt="Medicina">
                                <div class="container1">
                                    <h1 class="card-header">Medicina nuo A iki Z</h1>
                                    <p class="card-text">Sužinokite, kaip veikia jūsų vaistas, kaip ir kada jį vartoti, galimą šalutinį poveikį ir atsakymus į dažniausiai užduodamus klausimus.</p>
                                </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <img class="circular--square center" src="{{ url_for('static', filename='images/index/file3.png') }}" alt="Koronavirusas">
                                <div class="container2">
                                    <h1 class="card-header">Koronavirusas (COVID-19)</h1> 
                                    <p class="card-text">Gaukite naujausių patarimų apie COVID-19, įskaitant informaciją apie simptomus, saviizoliaciją ir testavimą.</p>
                                </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <img class="circular--square center" src="{{ url_for('static', filename='images/index/file4.png') }}" alt="Padėkite..">
                                <div class="container3">
                                <h1 class="card-header">Sekite simptomus</h1> 
                                <p class="card-text">Dėl koronaviruso (COVID-19) gali būti sunku žinoti, ką daryti, jei jaučiatės blogai. Svarbu kreiptis medicininės pagalbos, jei manote, kad jos reikia.</p> 
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
        </section>

        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
                        <a href="#">
                            <img src="{{ url_for('static', filename='logo.png') }}" alt="" width="60" height="60" viewBox="0 0 32 32">
                            </img>
                        </a>
                    </div>
                    <ul class="footer-links list-reset">
                        <li>
                            <a href="{{ url_for('home') }}">Pradinis</a>
                        </li>
                        <li>
                            <a href="{{ url_for('info') }}">Informacija</a>
                        </li>
                        <li>
                            <a href="{{ url_for('contacts') }}">Kontaktai</a>
                        </li>
                    </ul>
                    <ul></ul>
                    <div class="footer-copyright">&copy; 2022 KTU ligoninė, visos teisės saugomos.</div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='scripts/index/main.min.js') }}/"></script>
</body>
</html>
