<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KTU ligonine</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
                                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                    <title>KTU ligonine</title>
                                    <defs>
										<div id="header">
										<img class="main-logo" src="{{ url_for('static', filename='logo.png') }}/" alt="">
                                    </defs>
                                    <path d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16zm0-10a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" fill="url(#logo-gradient)" fill-rule="evenodd"/>
                                </svg>
                            </a>
                        </h1>
                    </div>
					<ul class="header-links list-reset m-0" style="padding-top: 70px">
						<li><a>&emsp;</li>
                        <li>
                            <a class="button button-sm button-shadow" href="{{ url_for('home') }}">Grįžti į pradinį</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <main>
            <section class="hero text-light text-center">
                <div class="container-login">
                    <p class="login-header">Prisijungimas</p>
                    <p class="msg" style="color: {{ msg_color }};"> {{ message }} </p>
                    <form action="{{ url_for('login') }}" method="POST">
                        {{ form.hidden_tag() }}
                        <p class="form-block login-text">El. paštas:<br><i class="fa fa-envelope fa-lg" style="padding-right: 10px;"></i>{{ form.email(class_='input-box', size='30', placeholder='vardenis.pavardenis@pastas.com') }}</p>
				        <p class="form-block login-text">Slaptažodis:<br><i class="fa fa-lock fa-lg" style="padding-right: 10px;"></i> {{ form.password(class_='input-box', size='30', placeholder='************') }}</p>

                        <input class="button login-button" type="submit" name="Prisijungti" value="Prisijungti">
                    </form>
                    <p class="login-text-sub"><a href="{{ url_for('register') }}">Neturi paskyros? Registruokis čia</a></a></p>
                </div>
            </section>

        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <ul class="footer-links list-reset">
                        <li>
                            <a href="{{ url_for('home') }}">Pradinis</a>
                        </li>
                        <li>
                            <a href="{{ url_for('info') }}">Informacija</a>
                        </li>
                        <li>
                            <a href="{{ url_for('contacts') }}">Kontaktai</a>
                        </li>
                    </ul>
                    <div class="footer-copyright" style="font-family: Sans-serif">&copy; 2022 KTU ligoninė, visos teisės saugomos.</div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='scripts/login/main.min.js') }}/"></script>
</body>
</html>