<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KTU ligonine</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/meet/style.css') }}">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
                                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                    <title>KTU ligonine</title>
                                    <defs>
										<div id="header">
                                            <a href="{{ url_for('home') }}"><img class="main-logo" src="{{ url_for('static', filename='logo.png') }}/" alt=""></a>
                                        </div>
                                    </defs>
                                    <path d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16zm0-10a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" fill="url(#logo-gradient)" fill-rule="evenodd"/>
                                </svg>
                            </a>
                        </h1>
                    </div>
                    <ul class="header-links list-reset m-0 menu-pos text-font" style="padding-right: 50px;">
                        <li><nobr><a href="{{ url_for('home') }}">Pradinis</a></nobr></li>
						<li><nobr><a href="{{ url_for('what_is_meeting') }}">Kas yra E.SUSITIKIMAS?</a></nobr></li>
						<li><nobr><a href="{{ url_for('how_to_use') }}">Kaip naudotis?</a></nobr></li>
					</ul>
					{% if session.is_authenticated %}
					<div class="navbar_right menu-pos">
                        <img src="{{ url_for('static', filename='user_images/' + session.image_url) }}" alt="profile_pic" style="position: absolute; border-radius: 50%;">
                        <div class="dropdown">
                            <button class="dropbtn"><i class="fas fa-chevron-down"></i>
                                <span class="username" style="padding-left: 50px;">{{ session.first_name }} {{ session.last_name }} </span>
                            </button>
                            <div class="dropdown-content">
                                <a href="{{ url_for('account') }}" style="border-bottom: solid;border-width: 1px;border-color: #00000036;">Nustatymai</a>
                                <a href="{{ url_for('logout') }}">Atsijungti</a>
                            </div>
                        </div>
                	</div>
                    {% else %}
                    <ul class="header-links list-reset m-0 menu-pos">
						<li><a>&emsp;</li>
                        <li>
                            <a class="button button-sm button-shadow" href="{{ url_for('login') }}">Prisijungti</a>
                        </li>
                        <li>
                            <a href="{{ url_for('register') }}"> Registruotis</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </header>

        <main>
            <section class="hero text-light text-center">
                <div class="container-sm">
                    <div class="hero-inner">
                        <h1 class="hero-title h2-mobile mt-0 is-revealing text-font" style="text-transform: uppercase;">Prisijunkite iš namų!</h1>
                        <p class="hero-paragraph is-revealing text-font">KTU ligoninė suteikia galimybę konsultuotis su gydytoju iš namų.</p>
                        <div class="hero-media">
                            <img src="{{ url_for('static', filename='images/meet/jitsi.png') }}">
                        </div>
                    </div>
                </div>
				</div>
            </section>

            <section class="features section text-center">
                <div class="container fix-margin">
                    <div class="features-inner section-inner has-top-divider">
                        <h2 class="section-title mt-0">Įveskite paciento kodą</h2>
                        <form action="{{ url_for('meet') }}" method="POST" style="padding-bottom: 50px;">
                            <p style="padding-bottom: 20px;">https://meet.ktuligonine.lt/{{ form.patient_id(style='border-radius:15px;', placeholder='paciento-id') }}</p>
                            <input class="button button-secondary" type="submit" value="Prisijungti">
                            <p style="font-family: sans-serif; font-size: 12px; color: {{msg_color}}; font-weight: bold;">{{ message }}</p>
                        </form>
                    </div>
                </div>
            </section>

        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
                        <a href="#">
                            <img src="{{ url_for('static', filename='logo.png') }}" alt="" width="50" height="50" viewBox="0 0 32 32">
                            </img>
                        </a>
                    </div>
                    <ul class="footer-links list-reset">
                        <li>
                            <a href="{{ url_for('home') }}">Pradinis</a>
                        </li>
                        <li>
                            <a href="{{ url_for('info') }}">Informacija</a>
                        </li>
                        <li>
                            <a href="{{ url_for('contacts') }}">Kontaktai</a>
                        </li>
                    </ul>
                    <ul>
                    </ul>
                    <div class="footer-copyright">&copy; 2022 KTU ligoninė, visos teisės saugomos.</div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='scripts/main.min.js') }}"></script>
</body>
</html>
