<html class="sr" lang="lt">
<head>
    <meta charset="utf-8">
    <title>KTU Ligonine</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="{{ url_for('static', filename='styles/visits/style.css') }}" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sans-serif:400,400i|PT+Serif:700" rel="stylesheet">
</head>

<body class="is-boxed has-animations" style="height: 100%;">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
                                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                    <title>KTU ligonine</title>
                                    <defs>
										<div id="header" style="min-width:200px;">
                                            <a href="{{ url_for('home') }}"><img class="main-logo" src="{{ url_for('static', filename='logo.png') }}/" alt=""></a>
										</div>
                                    </defs>
                                    <path d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16zm0-10a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" fill="url(#logo-gradient)" fill-rule="evenodd"/>
                                </svg>
                            </a>
                        </h1>
                    </div>
                    <ul class="header-links list-reset m-0 menu-pos">

                        <div class="dropdown">
                            <button class="dropbtn">
                                <i class="fas fa-chevron-down"></i>
                                <li><a href="{{ url_for('visits') }}">Vizitai </a></li>
                            </button>
                            <div class="dropdown-content a">
                                <a href="{{ url_for('visits_register') }}" style="border-bottom: solid;border-width: 1px;border-color: #00000036; color:black;">Registruotis į vizitą</a>
                                <a href="{{ url_for('visits') }}" style="color:black;">Mano vizitai</a>
                            </div>
                        </div>

                        <li><a href="{{ url_for('patient_history') }}">Ligos istorija</a></li>
                        <li><a href="{{ url_for('patient_services') }}">Paslaugos</a></li>
                    </ul>
                    <div class="navbar_right menu-pos">
                        <img src="{{ url_for('static', filename='user_images/' + user.image_url) }}" alt="profile_pic" style="position: absolute; border-radius: 50%;">
                        <div class="dropdown">
                            <button class="dropbtn"><i class="fas fa-chevron-down"></i>
                                <span class="username" style="padding-left: 50px;">{{ user.first_name }} {{ user.last_name }} </span>
                            </button>
                            <div class="dropdown-content">
                                <a href="{{ url_for('account') }}" style="border-bottom: solid;border-width: 1px;border-color: #00000036;">Nustatymai</a>
                                <a href="{{ url_for('logout') }}">Atsijungti</a>
                            </div>
                        </div>
                	</div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="site-header-inner">
                <div class="brand header-brand" style="margin: auto; width: 50%; padding: 60px;">
                    <p class="section-header" style="width: 1078px;">Registruotis vizitui</p>
                </div>
            </div>
        </div>

        <form class="search-box" style="margin: auto; width: 1078px; margin-top: 100px;">
            <select class="search-box" name="specialybe" style="width:200px; margin-bottom: 50px; margin-right: 50px; margin-left: 150px;">
                <option value="kazkas">specialybe</option>
                <option value="kazkas1">spec1</option>
                <option value="kazkas2">spec2</option>
                <option value="kazkas3">spec3</option>
            </select>
            <select class="search-box" name="vp" style="width:200px; margin-right: 50px;">
                <option value="kazkas">vardas pavarde</option>
                <option value="kazkas1">spec1</option>
                <option value="kazkas2">spec2</option>
                <option value="kazkas3">spec3</option>
            </select>
            <form action="/action_page.php">
                <input class="search-box" type="date" id="birthday" name="birthday">
            </form>
        </form>

        <div style="margin-left: 620px; margin-bottom:50px; margin-top: -20px;">
            <input class="button button-primary" type="submit">
        </div>


            <div class="card overflow-hidden" style="width:1078px;margin:0 auto;float:none;margin-bottom:30px;border-radius:10px;box-shadow: 0px 0px 5px 5px grey;">
                <div style="text-align:left">
                    <div class="tablescroll">
                        <table class="tabledesc">
                            <tbody>
                                <tr>
                                    <th>Nr.</th>
                                    <th>Vizito data</th>
                                    <th>Daktaro vardas ir pavardė</th>
                                    <th>Specialybė</th>
                                    <th>Registruotis</th>
                                </tr>
                                {%for i in range(0, len)%}
                                <tr>
                                    <td>{{ i+1 }}</td>
                                    <td>{{ visits[i].time }}</td>
                                    <td>{{ visits[i].doctordoctor_name }}</td>
                                    <td>{{ visits[i].doctor_position }}</td>
                                    <td><button class="button button-primary" type="button">Registruotis</button></td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <footer class="site-footer">
        <div class="container">
            <div class="site-footer-inner">
                <div class="brand footer-brand">
                    <a href="#">
                        <img src="{{ url_for('static', filename='logo.png') }}" alt="" viewbox="0 0 32 32" width="50" height="50">

                    </a>
                </div>
                <ul class="footer-links list-reset">
                    <li>
                        <a href="{{ url_for('home') }}">Pradinis</a>
                    </li>
                    <li>
                        <a href="{{ url_for('info') }}">Informacija</a>
                    </li>
                    <li>
                        <a href="{{ url_for('contacts') }}">Kontaktai</a>
                    </li>
                </ul>
                <ul></ul>
                <div class="footer-copyright">© 2022 KTU ligoninė, visos teisės saugomos.</div>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
    </script>

</body>
</html>